{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Task</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('addcuisine') }}">
        <!-- task name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="cuisine_type" name="cuisine_type"" minlength="5" maxlength="50" type="text" class="validate" required>
                <label for="cuisine_type"">Type</label>
            </div>
        </div>
        <!-- task description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="cuisine_name" name="cuisine_name" minlength="5" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="cuisine_name">Name</label>
            </div>
        </div>
        <!-- due date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="cuisine_tools" name="cuisine_tools" minlength="5" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="cuisine_tools">tools</label>
            </div>
        </div>
        <!-- is urgent -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="cuisine_ingredients" name="cuisine_ingredients" minlength="5" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="cuisine_ingredients">cuisine_ingredients</label>
            </div>
        </div>
        <!-- category id -->
        <div class="row">
            <div class="input-field col s12">
                div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="cuisine_directions" name="cuisine_directions" minlength="5" maxlength="200"
                    type="text" class="materialize-textarea validate" required></textarea>
                <label for="cuisine_directions">cuisine_directions</label>
            </div>
    
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add Task <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}